.button {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid hsl(206, 71%, 24%);
  border-radius: 10px;
  color: hsl(206, 71%, 24%);
  padding: 8px 24px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 2px 0px hsl(206, 71%, 19%);
  min-width: 88px;

  &--primary {
    color: white;
    background-color: hsl(206, 71%, 24%);
  }
  &--secondary {
    background-color: #FFFFFF;
  }
  &--tertiary {
    border-color: transparent;
    box-shadow: none;
    background-color: #FFFFFF;
  }
  &--disabled {
    border-color: transparent;
    box-shadow: none;
    background-color: hsl(214.3,20%,93.1%);
    color: hsl(211,19%,68%);
    cursor: not-allowed;
  }
}

.button__icon{
  position: relative;
  top: 4px;
  width: 16px;
  height: 16px;
  color: currentColor;

  &--right{
    margin-left: 10px;
    margin-right: 0px;
  }
  
  &--left{
    margin-left: 0px;
    margin-right: 10px;
  }
  
  &--none{
    display: none;
  }

}

.button__content{
  margin: 0px;
  padding: 0px;
}